#card-three-container {
    transition: 0.5s;
    cursor: pointer;
    width: 19%;
    max-width: 275px;
    min-width: 225px;
    height: 420px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 32px;
    background-color: white;
    display: flex;
    flex-direction: column
}

#card-three-image-container {
    cursor: pointer;
    border-radius: 10px;
    height: 220px;
    /* margin-bottom: 8px */
}

#card-three-big-text {
    font-size: 1rem;
    font-weight: 800
}

#card-three-small-text {
    font-size: 0.9rem;
    color: grey
}

#card-three-text-container {
    padding: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center
}
#card-three-slider {
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media screen and (max-width:900px) {
    #card-three-container {
        min-width: 150px;
        width: 32%;
        height: 240px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    #card-three-image-container {
        height: 120px;
        margin-bottom: 8px;
    }
    #card-three-image {
        height: 120px;
    }
    #card-three-big-text {
        font-size: 0.8rem;
    }

    #card-three-small-text {
        font-size: 0.8rem;
    }

    #card-three-text-container {
        padding: 4px;
        gap: 2px;
    }
}