#card-one-container {
    min-width: 375px;
    max-width: 450px;
    width: 32%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 24px;
    cursor: pointer;
    background-color: white
}
#card-one-big-text{
    text-align:center;
    font-size:0.9rem;
    font-weight:800
}
#card-one-general-container{
    display: flex;
    margin-top: 8px;
    box-sizing:border-box;
    padding: 16px;
    justify-content: space-between;
    position: relative
}
#card-one-sub-container{
    width: 32%;
    height: 100px;
}
#card-one-small-text{
    text-align:center;
    font-size:0.8rem;
    color:grey;
}
#card-one-image-container{
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
    border-radius: 10px;
    height:120px;
    margin-bottom: 4px
}
@media screen and (max-width:900px) {
    #card-one-container {
        min-width: 180px;
        width: 32%;
        height: 100px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    #card-one-general-container{
        margin-top: 1px;
        padding: 4px;
    }
    #card-one-image{
        height: 60px;
    }
    #card-one-big-text{
        font-size: 0.6rem;
    }
    #card-one-small-text{
        font-size: 0.6rem;
    }
    #card-one-sub-container{
        width: 32%;
        height: 40px;
    }
    #card-one-image-container{
        height:60px;
        margin-bottom: 1px
    }
}