#container {
    min-width: 375px;
    max-width: 450px;
    width: 32%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 24px;
    cursor: pointer;
    background-color: white
}
#BigText{
    text-align:center;font-size:0.9rem;font-weight:800
}

@media screen and (max-width:900px) {
    #container {
        min-width: 180px;
        width: 32%;
        height: 120px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    #Trophyimg{
        height: 60px;
    }
    #BigText{
        font-size: 0.6rem;
    }
    #SmallText{
        font-size: 0.6rem;
    }
}