#container {
    transition: 0.5s;
    cursor: pointer;
    width: 19%;
    max-width: 275px;
    min-width: 225px;
    height: 375px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 32px;
    background-color: white;
    display: flex;
    flex-direction: column
}

#BigText {
    font-size: 1.1rem; font-weight: 800
}

#SmallText {
    font-size: 1rem;
    color: grey
}

#TextContainer {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center
}

@media screen and (max-width:900px) {
    #container {
        min-width: 150px;
        width: 32%;
        height: 240px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    #Trophyimg {
        height: 120px;
    }

    #BigText {
        font-size: 0.8rem;
    }

    #SmallText {
        font-size: 0.8rem;
    }

    #TextContainer {
        padding: 4px;
        gap: 2px;
    }
}